@model Tomasos4.Models.NewUserDetails

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>


@{
    ViewBag.Title = "Register";
}

<form asp-controller="Account" asp-action="Register" autocomplete="off" method="post">
    <div class ="form1">
        <div class="nr1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Username"></label>
            <input type="text" asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
            <br />

            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <br />

            <label asp-for="Password"></label>
            <input type="text" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <br />
            <label asp-for="PasswordRepeate"></label>
            <input type="text" asp-for="PasswordRepeate" class="form-control" />
            <span asp-validation-for="PasswordRepeate" class="text-danger"></span>
            <br />

        </div>
        <div class"nr2">
            <label asp-for="Email"></label>
            <input type="text" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <br />

            <label asp-for="Zipcode"></label>
            <input type="text" asp-for="Zipcode" class="form-control" />
            <span asp-validation-for="Zipcode" class="text-danger"></span>
            <br />

            <label asp-for="Region"></label>
            <input type="text" asp-for="Region " class="form-control" />
 
            <br />

            <label asp-for="StreetAddress"></label>
            <input type="text" asp-for="StreetAddress" class="form-control" />
            <span asp-validation-for="StreetAddress" class="text-danger"></span>
            <br />

            <label asp-for="PhoneNumber"></label>
            <input type="text" asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger phoneText"></span>
            <br />
            <br />
            <button type="submit" class="btn btn-dark registerButton">Register</button>
        </div>
    </div>


</form>

<p>@ViewBag.Message</p>